[Unit]
Description=Start Floppy Monitoring at Reboot systemd service.

[Service]
Type=forking
RemainAfterExit=yes
ExecStart=/home/root/install/startup.sh

[Install]
WantedBy=multi-user.target
